.bg-home {
  background: #ccc;
}

.bg-container {
  background: conic-gradient(
    from 180deg at 50% 50%,
    #e0f7fa -48.6deg,
    #dff0d8 99.34deg,
    #fff9c4 163.8deg,
    #e0f7fa 311.4deg,
    #dff0d8 459.34deg
  );
}
.btn-buy {
  background: linear-gradient(90deg, #17573c 24.63%, #4ac486 100%);
  @apply flex justify-center items-center gap-1 h-12 rounded-lg w-40 disabled:!bg-[#868686] disabled:!bg-none;
}
.btn-buy span {
  @apply uppercase font-semibold text-base text-white;
}
.btn-back {
  @apply flex justify-center items-center gap-1 h-12 rounded-lg w-40 bg-white border border-[#16533D];
}
.btn-back span {
  @apply uppercase font-semibold text-base text-[#17573c];
}
.bg-login {
  background: linear-gradient(112.55deg, #17573c 2.74%, #4ac486 101.1%);
}
#qr-shaded-region {
  @apply !border-0 !aspect-square;
}
.ant-modal-title {
  display: flex;
  justify-items: center !important;
}
.btn-logout {
  background: transparent;
  width: 46px;
  height: 46px;
  border-radius: 100%;
}
.ant-modal-content {
  height: 224px;
  flex-direction: column;
  display: flex;
  gap: 8px;
}
.ant-modal-title {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.ant-modal{
  display: flex;
  justify-content: center;
}
